:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  text-align: center;
}

.foodbox-main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

.foodbox-main-left{
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
  background: linear-gradient(90deg, #0c3d19 0%, #0cb0af 100%); 
}

.foodbox-main-left img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


.foodbox-main-right{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 40px;
  padding: 20px;  
  background: linear-gradient(90deg, #0c3d19 0%, #0cb0af 100%); 
}

.add{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.reset{
  width: 200px;
  height: 40px;
  color: rgb(255, 255, 255);
  background: linear-gradient(270deg, #0c3d19 0%, #0cb0af 100%);
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
}